In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
games = pd.read_csv('../Resources/game_info.csv')

In [3]:
games.head(2)

,id,slug,name,metacritic,released,tba,updated,website,rating,rating_top,...,developers,genres,publishers,esrb_rating,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
0,1,dgeneration-hd,D/Generation HD,NaN,2015-10-23,False,2019-09-17T11:58:57,http://dgeneration.net,0.0,0,...,West Coast Software,Adventure||Puzzle,West Coast Software,Everyone 10+,4,88,2,2,0,0
1,10,g-prime,G Prime Into The Rain,NaN,2016-01-06,False,2019-11-06T23:04:19,NaN,0.0,0,...,Soma Games,Simulation||Indie,Immanitas Entertainment||Code-Monkeys,Everyone,2,42,2,0,0,0

In [4]:
games.shape

(474417, 27)

In [5]:
games.columns

Index(['id', 'slug', 'name', 'metacritic', 'released', 'tba', 'updated',
       'website', 'rating', 'rating_top', 'playtime', 'achievements_count',
       'ratings_count', 'suggestions_count', 'game_series_count',
       'reviews_count', 'platforms', 'developers', 'genres', 'publishers',
       'esrb_rating', 'added_status_yet', 'added_status_owned',
       'added_status_beaten', 'added_status_toplay', 'added_status_dropped',
       'added_status_playing'],
      dtype='object')

In [6]:
games = games[['id', 'name', 'released', 'developers','publishers']]

In [7]:
games.head(2)

,id,name,released,developers,publishers
0,1,D/Generation HD,2015-10-23,West Coast Software,West Coast Software
1,10,G Prime Into The Rain,2016-01-06,Soma Games,Immanitas Entertainment||Code-Monkeys

In [8]:
users = pd.read_csv('../Resources/user_info.csv')

In [9]:
users.shape

(980, 6)

In [10]:
users.head(3)

   User ID first_name last_name                email      gender  age
0        1  Zachariah   Hairyes    zhairyes0@epa.gov        Male   20
1        2       Doug   Minihan  dminihan1@cam.ac.uk  Non-binary   23
2        3     Yvonne     Kopps     ykopps2@live.com      Female   68

In [11]:
users = users[['User ID', 'email', 'age']]

In [12]:
users.head(3)

   User ID                email  age
0        1    zhairyes0@epa.gov   20
1        2  dminihan1@cam.ac.uk   23
2        3     ykopps2@live.com   68

In [13]:
ratings = pd.read_csv('../Resources/user_ratings.csv')

In [14]:
ratings.head(3)

   User ID  Game ID  Review Score
0      321   169419             7
1      971   315015             0
2      311   384685             4

In [15]:
games.rename(columns={
    "id":"Game ID"
}, inplace=True)

In [16]:
games.head(3)

,Game ID,name,released,developers,publishers
0,1,D/Generation HD,2015-10-23,West Coast Software,West Coast Software
1,10,G Prime Into The Rain,2016-01-06,Soma Games,Immanitas Entertainment||Code-Monkeys
2,100,Land Sliders,2015-09-24,Prettygreat Pty,Prettygreat Pty

In [17]:
ratings.shape

(979, 3)

In [23]:
ratings["User ID"].value_counts()

User ID
842    5
316    5
707    4
962    4
835    4
      ..
515    1
779    1
867    1
801    1
201    1
Name: count, Length: 630, dtype: int64

In [24]:
ratings['User ID'].unique().shape

(630,)

In [25]:
x = ratings["User ID"].value_counts() > 1
x

User ID
842     True
316     True
707     True
962     True
835     True
       ...
515    False
779    False
867    False
801    False
201    False
Name: count, Length: 630, dtype: bool

In [26]:
x[x].shape

(262,)

In [27]:
y = x[x].index
y

Index([842, 316, 707, 962, 835, 531, 186, 924, 512,  40,
       ...
       971, 311, 907, 711, 603,  87, 601, 339, 172, 116],
      dtype='int64', name='User ID', length=262)

In [29]:
ratings[ratings["User ID"].isin(y)]

     User ID  Game ID  Review Score
0        321   169419             7
1        971   315015             0
2        311   384685             4
3        907   235784             0
4        711   433699             0
..       ...      ...           ...
971      755    82248             9
972      531   371312             0
974      803   256644             0
977      548    57060             0
978      274   240456             0

[611 rows x 3 columns]

In [30]:
ratings.head()

   User ID  Game ID  Review Score
0      321   169419             7
1      971   315015             0
2      311   384685             4
3      907   235784             0
4      711   433699             0

In [31]:
ratings.shape

(979, 3)

In [32]:
ratings_games = ratings.merge(games, on = "Game ID")

In [33]:
ratings_games.head()

,User ID,Game ID,Review Score,name,released,developers,publishers
0,971,315015,0,Fluffensnuff,2019-04-30,bippinbits,NaN
1,311,384685,4,Mermaid Games - Makeover and Salon Game,2017-08-21,Armored Techno Solution,Armored Techno Solution
2,907,235784,0,三國志曹操傳－逐鹿中原,2017-08-04,zhang weibin,zhang weibin
3,711,433699,0,Fading Ember,2020-04-21,michaell308,NaN
4,23,217375,0,Real Monster Truck Driving,2017-11-07,BUI THI THUY DUNG,BUI THI THUY DUNG

In [34]:
ratings_games.shape

(873, 7)

In [35]:
number_of_ratings = ratings_games.groupby("name")["Review Score"].count().reset_index()

In [37]:
number_of_ratings.head()
#how many review scores does this game name have?

                                  name  Review Score
0  "Bounce Blast" Construct 3 Template             1
1                   "Optical illusion"             1
2                  "Revenge Of Heroes"             1
3                              /reroll             1
4                             10000000             1

In [38]:
number_of_ratings.rename(columns={"Review Score":"number of ratings"}, inplace=True)

In [39]:
number_of_ratings.head()

                                  name  number of ratings
0  "Bounce Blast" Construct 3 Template                  1
1                   "Optical illusion"                  1
2                  "Revenge Of Heroes"                  1
3                              /reroll                  1
4                             10000000                  1

In [40]:
finished_set = ratings_games.merge(number_of_ratings, on="name")

In [41]:
finished_set.head()

,User ID,Game ID,Review Score,name,released,developers,publishers,number of ratings
0,971,315015,0,Fluffensnuff,2019-04-30,bippinbits,NaN,1
1,311,384685,4,Mermaid Games - Makeover and Salon Game,2017-08-21,Armored Techno Solution,Armored Techno Solution,1
2,907,235784,0,三國志曹操傳－逐鹿中原,2017-08-04,zhang weibin,zhang weibin,1
3,711,433699,0,Fading Ember,2020-04-21,michaell308,NaN,1
4,23,217375,0,Real Monster Truck Driving,2017-11-07,BUI THI THUY DUNG,BUI THI THUY DUNG,1

In [44]:
finished_set.sample(10)

,User ID,Game ID,Review Score,name,released,developers,publishers,number of ratings
59,430,434895,0,Desert Escape (rwoproduction),2020-04-20,rwoproduction,NaN,1
255,371,8905,8,Maria the Witch,2014-10-15,Naps Team||Na.p.s. Team s.n.c.,Naps Team||Naps Team snc,1
520,7,235296,0,Color vs Blocks,2017-07-18,Dawson Walker,Dawson Walker,1
160,324,102638,0,Sunday,2016-04-19,Vile||EZBake Games,NaN,1
839,303,202747,0,Alien Bash,2018-04-01,Little Tinkers,NaN,1
843,566,259211,8,Celestial Vanguard,2018-10-28,UpsilonGames,NaN,1
466,640,179242,0,Another Forest In Paradise,2017-12-13,fmorgand,NaN,1
62,479,373014,0,Poligonal,2019-09-09,francologic,NaN,1
460,499,100995,0,sphinx of black quartz judge my vow,2017-01-23,shrunken studios,NaN,1
10,314,143014,3,Rocket Rumble,2015-04-12,Roberto Molvado,NaN,1

In [45]:
finished_set

,User ID,Game ID,Review Score,name,released,developers,publishers,number of ratings
0,971,315015,0,Fluffensnuff,2019-04-30,bippinbits,NaN,1
1,311,384685,4,Mermaid Games - Makeover and Salon Game,2017-08-21,Armored Techno Solution,Armored Techno Solution,1
2,907,235784,0,三國志曹操傳－逐鹿中原,2017-08-04,zhang weibin,zhang weibin,1
3,711,433699,0,Fading Ember,2020-04-21,michaell308,NaN,1
4,23,217375,0,Real Monster Truck Driving,2017-11-07,BUI THI THUY DUNG,BUI THI THUY DUNG,1
...,...,...,...,...,...,...,...,...
868,803,256644,0,Pumpkin Villain,2018-10-21,simeon.platonov,NaN,1
869,527,188202,2,SpaceSurvivor (Frickin'Pancake),2016-01-21,Frickin'Pancake,NaN,1
870,80,193243,9,LittleFlowerBigSky (PolarFox),2015-12-15,PolarFox,NaN,1
871,548,57060,0,Fever Pitch Soccer,1995-01-01,U.S. Gold,Atari||U.S. Gold,1
872,274,240456,0,World of Wolf Clans,2017-08-05,Andrew Kudrin,Andrew Kudrin,1

In [46]:
finished_set.shape

(873, 8)