In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
games = pd.read_csv('../Resources/game_info.csv')

In [19]:
games.head(2)

,id,slug,name,metacritic,released,tba,updated,website,rating,rating_top,...,developers,genres,publishers,esrb_rating,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
0,1,dgeneration-hd,D/Generation HD,NaN,2015-10-23,False,2019-09-17T11:58:57,http://dgeneration.net,0.0,0,...,West Coast Software,Adventure||Puzzle,West Coast Software,Everyone 10+,4,88,2,2,0,0
1,10,g-prime,G Prime Into The Rain,NaN,2016-01-06,False,2019-11-06T23:04:19,NaN,0.0,0,...,Soma Games,Simulation||Indie,Immanitas Entertainment||Code-Monkeys,Everyone,2,42,2,0,0,0

In [20]:
games.shape

(474417, 27)

In [21]:
games.columns

Index(['id', 'slug', 'name', 'metacritic', 'released', 'tba', 'updated',
       'website', 'rating', 'rating_top', 'playtime', 'achievements_count',
       'ratings_count', 'suggestions_count', 'game_series_count',
       'reviews_count', 'platforms', 'developers', 'genres', 'publishers',
       'esrb_rating', 'added_status_yet', 'added_status_owned',
       'added_status_beaten', 'added_status_toplay', 'added_status_dropped',
       'added_status_playing'],
      dtype='object')

In [22]:
games = games[['id', 'name', 'released', 'developers','publishers']]

In [23]:
games.head(2)

,id,name,released,developers,publishers
0,1,D/Generation HD,2015-10-23,West Coast Software,West Coast Software
1,10,G Prime Into The Rain,2016-01-06,Soma Games,Immanitas Entertainment||Code-Monkeys

In [24]:
users = pd.read_csv('../Resources/user_info.csv')

In [25]:
users.shape

(980, 6)

In [26]:
users.head(3)

   User ID first_name last_name                email      gender  age
0        1  Zachariah   Hairyes    zhairyes0@epa.gov        Male   20
1        2       Doug   Minihan  dminihan1@cam.ac.uk  Non-binary   23
2        3     Yvonne     Kopps     ykopps2@live.com      Female   68

In [27]:
users = users[['User ID', 'email', 'age']]

In [28]:
users.head(3)

   User ID                email  age
0        1    zhairyes0@epa.gov   20
1        2  dminihan1@cam.ac.uk   23
2        3     ykopps2@live.com   68

In [29]:
ratings = pd.read_csv('../Resources/user_ratings.csv')

In [30]:
ratings.head(3)

   User ID  Game ID  Review Score
0      321   169419             7
1      971   315015             0
2      311   384685             4

In [40]:
games.rename(columns={
    "id":"Game ID"
}, inplace=True)

In [41]:
games.head(3)

,Game ID,name,released,developers,publishers
0,1,D/Generation HD,2015-10-23,West Coast Software,West Coast Software
1,10,G Prime Into The Rain,2016-01-06,Soma Games,Immanitas Entertainment||Code-Monkeys
2,100,Land Sliders,2015-09-24,Prettygreat Pty,Prettygreat Pty

In [43]:
ratings.shape

(979, 3)